.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1600px;
  height: 432px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-logo-letter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #5b9bf3;
  mix-blend-mode: normal;
  width: 41px;
  height: 41px;
  background: #ffffff;
  border-radius: 50%;
}

.footer-trafalgar {
  margin-left: 12px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.footer-about {
  max-width: 391px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.footer-copiryght {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.footer-box-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
}

.footer-link {
  cursor: pointer;
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
}

.footer-dots {
  display: flex;
  justify-content: flex-end;
  margin-right: 91.42px;
  margin-bottom: -43px;
  margin-top: 129px;
}
