.header-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 84px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 191px;
}

.logo-letter {
  background: #458ff6;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #ffffff;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.trafalgar {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #233348;
  margin-left: 12px;
}

.home {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  text-decoration: none;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 545px;
}

.top-nav-links {
  padding-left: 40px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.header-dots {
  position: absolute;
  margin-left: -50px;
  margin-top: 160px;
}

.header-content-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 190px;
}

.header-text-box {
  margin-right: 109px;
  width: 445px;
  height: 338px;
}

.header-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.header-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
}

.header-button {
  width: 200px;
  height: 56px;
  background: #458ff6;
  border: none;
  border-radius: 55px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
