.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 251px;
}
.customerBox {
  display: flex;
  flex-direction: column;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  width: 1120px;
  height: 425px;
}

.customerComment {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section4Header {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.section4Title {
  justify-self: flex-end;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.section4Name {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.section4Text {
  margin-left: 110px;
  width: 420px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
}

.customerName {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.customerAbout {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
  mix-blend-mode: normal;
}

.avatar {
  margin-right: 29px;
  width: 141px;
  height: 141px;
}

.tabGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 336.43px;
  height: 20px;
  margin-top: 47px;
}

.circle {
  padding-left: 9px;
  padding-right: 9px;
  cursor: pointer;
}

.arrow {
  cursor: pointer;
}

.section4El {
  margin-top: -15px;
  margin-right: -47.58px;
  margin-left: 213px;
}
